doctype html
html(lang="en")
	head
		title= pageTitle
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(property="og:url", content="http://flags.deku.ryelletest.space/")
		meta(property="og:type", content="website")
		meta(property="og:title", content="WordPress Pride Flag Generator")
		meta(property="og:description", content="Create & download a custom WordPress pride flag for your queer identity!")
		meta(property="og:image", content="http://flags.deku.ryelletest.space/static/share.png")
		meta(property="og:image:alt", content="An array of a dozen pride flags: Agender, Aromantic, Asexual, Bisexual, Genderfluid, Genderqueer, LGBTQ (the rainbow), LGBTQ (Philadelphia's more color more pride version with black and brown), Nonbinary, Pansexual, Polysexual, and Transgender.")
		link(rel="stylesheet", href=cssFile)
		link(rel="shortcut icon", type="image/png", href="/static/favicon.png")
		each file in vendorFiles
			script(src=file)
		script!="window.lodash = _;"
	body
		#root!= markup
		script(src=jsFile)
