doctype html
html(lang="en")
	head
		title= pageTitle
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet", href=cssFile)
	body
		#root!= markup
		script(src=jsFile)
